h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: -350px;
    margin-bottom: 300px;
}

    @media (max-width: 1024px){
        h1 { background-color: purple;
        }
   
    @media (max-width: 768px){
            h1 { background-color: rgb(85, 13, 201);
            }

    @media (max-width: 480px){
                h1 { background-color: rgb(13, 9, 231);
                }
        
  

.section1{
    padding: 15px 250px 0px 250px;
    text-align: left;
}

.section1 h2{
    color: rgb(39, 202, 202);
    text-shadow: 2px 1px rgb(1, 80, 80) ;
}

.section2{
    padding: 15px 250px 0px 250px;
    text-align: right;
}

.section2 h2{
    color: rgb(39, 202, 202);
    text-shadow: 2px 1px rgb(1, 80, 80) ;
}

